ipykernel
numpy
opencv_contrib_python
opencv-python-headless
pandas
Pillow
torch
transformers
ultralytics
deep_sort_realtime
supervision
streamlit

git+https://github.com/desire-del/cv_project.git#egg=cv_project